/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

.container {
	max-width: 1200px;
  padding: 0 20px;
	margin: 0 auto;
}

header {
	width: 100%;
  background-color: white;
	position: fixed;
	top: 0px;
  padding: 30px 20px;
}

@media (max-width: 500px) {
  header {
    padding-bottom: 0px;
    padding-top: 15px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.navbar {
	max-width: 1200px;
	height: 50px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media (max-width: 800px) {
  .navbar {
    flex-direction: column-reverse;
    height: 100px;
  }
}

@media (max-width: 500px) {
  .navbar {
    height: 422px;
  }
}

header nav {
	width: 75%;
	display: flex;
	justify-content: space-between;
}

@media (max-width: 800px) {
  header nav {
    width: 100%;
  }
}

@media (max-width: 500px) {
  header nav {
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
  }
}

header nav a {
	font-size: 20px;
	color: gray;
	text-decoration: none;
}

@media (max-width: 500px) {
  header nav a {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: black;
  }
  header nav a:first-child {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: black;
  }
}

header nav a:hover {
	color: Blue;
}

header img {
	width: 200px;
}

.hero {
		width: 100%;
		margin-top: 110px;
		display: flex;
		flex-direction: column;
}

@media (max-width: 800px) {
  .hero {
    margin-top: 160px;
  }
}

@media (max-width: 500px) {
  .hero {
    margin-top: 437px;
  }
}

.hero img {
	width: 100%;
}

@media (max-width: 500px) {
	.hero img {
		display: none;
	}
}

h2 {
	margin-top: 20px;
	font-size: 40px;
}

.hero p {
	margin-bottom: 20px;
	font-size: 22px;
}

.services {
	margin-top: 40px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	min-height: 1200px;
}

@media (max-width: 800px) {
	.services {
		flex-direction: column;
		align-content: center;
	}
}

.servicebox {
	width: 48%;
	min-height: 350px;
	font-size: 22px;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	background-color: lightgray;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 15px;
	margin-bottom: 20px;
}

@media (max-width:800px) {
	.servicebox {
		width: 80%;
	}
}
button {
	max-width: 160px;
	height: 30px;
	font-size: 16px;
	background: white;
	border-color: black;
}

.servicebox button {
	width: 200px;
	height: 50px;
	font-size: 16px;
	background: white;
	border-color: black;
	border-radius: 5px;
}

button:hover {
	background: #ccccff;
}

.bottom {
	display: flex;
	width: 100%;
	min-height: 400px;
	justify-content: space-between;
}

.bottom-left {
	width: 50%;
	min-height: 400px;
	font-size: 22px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

@media (max-width: 800px) {
	.bottom-left {
		width: 100%;
	}
}

ul {
	list-style-type: disc;
	list-style-position: inside;
	margin-left: 0;
}

li {
	margin-bottom: 15px;
}

.bottom-right {
	width: 50%;
}

@media (max-width:800px) {
	.bottom-right {
		display: none;
	}
}

.bottom img {
	width: 100%;
}

footer {
	font-size: 22px;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 20px;
	font-family: Srisakdi, cursive;
}
